.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  padding-top: 100px;
  padding-bottom: 10px;
  max-width:4in;
}

body {
  background-color: #fff7f8;
  font-family: "Courier New", monospace;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 10px;
}

h1 {
  font-size: 28px;
  color: #2b0f54;
}

hr {
  border: none;
  border-top: 4px double #2b0f54;
  color: #2b0f54;
  height: 5px;
}

ul {
  color: #2b0f54;
  font-size: 18px;
  max-width: 7in;
  padding-left: 5%;
  padding-right: 5%;
}

p {
  color: #2b0f54;
  font-size: 18px;
  font: "Georgia", serif;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
}

a {
  color: #ff4f69;
  text-decoration-line: none;
  font-weight: bold;
}

a:hover {
  font-style: italic;
}

a.navlink {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

a.disabled {
  color: #ab1f65;
  pointer-events: none;
  cursor: default;
}
