.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  padding-top: 100px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  max-width:30%;
  min-width:300px;
}

body {
  background-color: #fff7f8;
  font-family: "Courier New", monospace;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 10px;
}

h1 {
  font-size: 28px;
  color: #2b0f54;
}

hr {
  max-width: 50%;
  min-width: 500px;
  border: none;
  border-top: 3px double #2b0f54;
  color: #2b0f54;
  overflow: visible;
  text-align: center;
  height: 5px;
}

ul, p {
  font-size: 18px;
  color: #2b0f54;
  max-width: 50%;
  min-width: 500px;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
  list-type: none;
}

a {
  color: #ff4f69;
  text-decoration-line: none;
  font-weight: bold;
}

a:hover {
  font-style: italic;
}

a.navlink {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
