.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  padding-top: 100px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  max-width:30%;
  min-width:300px;
}

body {
  background-color: #fff7f8;
}

h1 {
  font-family: "Courier New", monospace;
  font-size: 32px;
  color: #2b0f54;
}

p {
  font-family: "Courier New", monospace;
  font-size: 18px;
  color: #2b0f54;
}

a {
  color: #ff4f69;
}
